<!-- an vertical nav bar with grey background with links to home and logout using tailwindcss -->
<ul class="flex flex-row justify-between list-none m-0.5 p-0.5 overflow-hidden bg-black">
  <div>
    <li>
      <a class="cursor-default active" routerLinkActive="active">Home</a>
    </li>

    <li>
      <a class="cursor-default" routerLinkActive="active">Settings</a>
    </li>
  </div>

  <div>
    <li>
      <a class="cursor-default logout-btn" href="#" routerLinkActive="active">
        <img width="24" height="24" alt="logout" class="" src="assets/logout-icon.svg" />
      </a>
    </li>
  </div>
</ul>

<main>


  <div class="flex items-center justify-center border-2 rounded pr-2 pl-2">
    <div class="pt-2 pb-2 ">
      <h1>
        Hello, welcome to the file-upload service. On this page you can search for domains. <br>
        By clicking on a domain, you will find all the files that are associated with that domain.
      </h1>
    </div>
  </div>


  <div class="flex flex-row flex-wrap items-start align-top px-8 pt-6 pb-8 mb-4">
    <div class="flex lg:flex-row flex-col gap-1 mb-4">
      <label class="text-label" for="username">
        Search
      </label>
      <input (keyup)="onSearch($event)" class="text-input" id="username" type="text" placeholder="Search">

      <div>
        <input #fileUpload type="file" class="file-input" id="file" (change)="onFileSelected($event)" />

        <button type="button"
                (click)="fileUpload.click()"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">
          +
        </button>
      </div>

    </div>


  </div>


  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-6 gap-4 p-5">
    <div *ngFor="let item of domainManagement.domainGroupedByFirstLetters">
      {{item.letter}}

      <div class="flex justify-between domain md:w-36 mt-1"
           *ngFor="let domain of item.domains;">
        <div>{{domain}}</div>
        <div class="flex gap-1">
          <button type="button">
            <img class="bg-yellow-700 rounded w-8 lg:w-6" width="20" height="20"
                 src="https://img.icons8.com/external-those-icons-lineal-those-icons/24/000000/external-folder-folders-those-icons-lineal-those-icons-18.png"/>
          </button>
          <button type="button" (click)="delete(domain)">
            <img class="bg-red-700 rounded w-8 lg:w-6" height="20"
                 src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-delete-miscellaneous-kiranshastry-lineal-kiranshastry.png"/>
          </button>
        </div>
      </div>

    </div>


  </div>


  <ndc-dynamic
    [ndcDynamicComponent]="component"
    [ndcDynamicInputs]="componentInputs"
  ></ndc-dynamic>


</main>

<router-outlet></router-outlet>
