<!-- an vertical nav bar with grey background with links to home and logout using tailwindcss -->
<ul class="flex flex-row justify-between list-none m-0.5 p-0.5 overflow-hidden">
  <div>
    <li>
      <a class="cursor-default" routerLink="/home" routerLinkActive="active">Home</a>
    </li>

    <li>
      <a class="cursor-default" routerLink="/settings"  routerLinkActive="active">Settings</a>
    </li>
  </div>

  <div>
    <li>
      <a class="cursor-default logout-btn" href="#" routerLinkActive="active">
        <img width="24" height="24" alt="logout" class="" src="assets/logout-icon.svg"/>
      </a>
    </li>
  </div>
</ul>


<router-outlet></router-outlet>
